services:
  mongo:
    image: mongo:8
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example

  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: example
      POSTGRES_DB: default

  rabbitmq:
    image: rabbitmq:4
    ports:
      - "5672:5672"

  redis:
    image: redis:8
    ports:
      - "6379:6379"
