name: main-push

on:
  push:
    branches:
      - "main"

env:
  NODE_VERSION: 25.x

jobs:
  test_and_release:
    name: Test and Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies
        run: |
          npm ci

      - name: Build
        run: |
          npm run build

      - name: Typecheck
        run: |
          npm run typecheck

      - name: Lint
        run: |
          npm run lint

      - name: Start services
        run: |
          docker compose -f docker-compose.yml up -d

      - name: Test
        run: npm run test:ci

      - name: Stop services
        if: always()
        run: |
          docker compose -f docker-compose.yml down -v

      - name: Authenticate Package Registry
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_AUTH_TOKEN }}" > .npmrc

      - name: Release
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          npm run release
