name: pull-request

on:
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"

env:
  NODE_VERSION: 25.x

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies
        run: |
          npm ci

      - name: Lint
        run: |
          npm run lint

      - name: Build
        run: |
          npm run build

      - name: Typecheck
        run: |
          npm run typecheck

      - name: Start services
        run: |
          docker compose -f docker-compose.yml up -d

      - name: Test
        run: |
          npm run test:ci

      - name: Stop services
        if: always()
        run: |
          docker compose -f docker-compose.yml down -v
